<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=maddyaustin55;AccountKey=u5yOfgn+rRolS3Lp5k4c5d6yW9WlIMRAId9Mmsj9t+NKfu4qzVKzHzMjCICDgCAnAhs+jD2tkI+YueLfMiBO/g=="/>
  </appSettings>
</configuration>